apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: frappe-sites-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: frappe-init
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: frappe-init
          image: frappe:15
          command:
            - /opt/frappe/init-scripts.sh
          env:
            - name: DB_HOST
              value: mariadb
            - name: DB_PORT
              value: "3306"
            - name: DB_ROOT_PASSWORD
              value: "123"
            - name: ADMIN_PASSWORD
              value: "121212"
            - name: REDIS_CACHE
              value: redis-cache:6379
            - name: REDIS_QUEUE
              value: redis-queue:6379
            - name: REDIS_SOCKETIO
              value: redis-socketio:6379
            - name: SITE_NAME
              value: doanhnghiep.vn
          volumeMounts:
            - name: frappe-sites
              mountPath: /home/frappe/frappe-bench/sites
      volumes:
        - name: frappe-sites
          persistentVolumeClaim:
            claimName: frappe-sites-pvc
