apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: frappe-sites-pvc
  labels:
    site: dn.digigov.vn
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: frappe-init
  labels:
    site: dn.digigov.vn
spec:
  backoffLimit: 0
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      restartPolicy: Never
      containers:
        - name: frappe-init
          image: ecr.digigov.vn/dns/frappe:16rc1
          imagePullPolicy: Always
          command:
            - /opt/frappe/init-scripts.sh
          env:
            - name: DB_HOST
              value: mariadb
            - name: DB_PORT
              value: "3306"
            - name: DB_ROOT_PASSWORD
              value: "123"
            - name: ADMIN_PASSWORD
              value: "121212"
            - name: REDIS_CACHE
              value: redis-cache:6379
            - name: REDIS_QUEUE
              value: redis-queue:6379
            - name: REDIS_SOCKETIO
              value: redis-socketio:6379
            - name: SITE_NAME
              value: doanhnghiepso.digigov.vn
          volumeMounts:
            - name: frappe-sites
              mountPath: /home/frappe/frappe-bench/sites
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      volumes:
        - name: frappe-sites
          persistentVolumeClaim:
            claimName: frappe-sites-pvc
