apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: frappe-sites
  labels:
    site: dn.digigov.vn
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi