apiVersion: apps/v1
kind: Deployment
metadata:
  name: frappe-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frappe-web
  template:
    metadata:
      labels:
        app: frappe-web
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: frappe-web
          image: ecr.digigov.vn/dns/frappe:16rc1-20260105
          ports:
            - containerPort: 8000
          env:
            - name: SITE_NAME
              value: doanhnghiepso.digigov.vn
          volumeMounts:
            - name: frappe-sites
              mountPath: /home/frappe/frappe-bench/sites
          readinessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          livenessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 1
            failureThreshold: 5
          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "2Gi"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      volumes:
        - name: frappe-sites
          persistentVolumeClaim:
            claimName: frappe-sites
      hostAliases:
      - ip: 127.0.0.1
        hostnames:
          - doanhnghiepso.digigov.vn
---
apiVersion: v1
kind: Service
metadata:
  name: frappe-web
spec:
  type: ClusterIP
  selector:
    app: frappe-web
  ports:
    - port: 8000
      targetPort: 8000
